// Board
.board {
  align-self: center;
  min-width: $board-width;
  min-height: $board-height;
  background-color: $gap-color;
  border-radius: 0.4rem;

  border: $gap solid $gap-color;
  position: relative;

  position: relative;

  .tile {
    background-color: $tile-color;
    border-radius: $square-border-radius;
  }

  .square {
    width: $square-width;
    height: $square-height;
    position: absolute;
    // bottom: 100px; // $square-width + $gap
    // right: 0px;
    border-radius: $square-border-radius;
    @include flex-center;
    font-weight: 700;
    font-size: 2.5rem;
    background-color: $square-2;
    animation: appear 0.2s ease-in-out;
    //square move animation
    // transition: top $square-speed ease-in-out, left $square-speed ease-in-out;
    transition: top $square-speed ease-in-out, left $square-speed ease-in-out;

    &.sq-2 {
      color: $color-black;
      background-color: $square-2;
    }

    &.sq-4 {
      color: $color-black;
      background-color: $square-4;
    }

    &.sq-8 {
      color: $color-white;
      background-color: $square-8;
    }

    &.sq-16 {
      color: $color-white;
      background-color: $square-16;
    }

    &.sq-32 {
      color: $color-white;
      background-color: $square-32;
    }

    &.sq-64 {
      color: $color-white;
      background-color: $square-64;
    }

    &.sq-128 {
      color: $color-white;
      background-color: $square-128;
    }

    &.sq-256 {
      color: $color-white;
      background-color: $square-256;
    }
    &.sq-2048 {
      color: $color-white;
      background-color: $square-2048;
    }

    &.merge {
      animation: merge 0.2s $square-speed ease-in-out;
      // transform: scale(1);
    }
  }

  .tile-container,
  .square-container,
  .lost-screen,
  .winning-screen,
  .settings-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Screens

.tile-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: $gap;
}

.square-container {
  // border: 10px solid #000;
}

.lost-screen {
  background-color: #b9b9b97c;

  @include flex-center;
  flex-direction: column;

  h2 {
    font-size: 3rem;
    color: darken($color-black, 30%);
    margin-bottom: 1rem;
  }
}

.winning-screen {
  background-color: #dbd94f7c;

  @include flex-center;
  flex-direction: column;

  h2 {
    font-size: 3rem;
    color: darken($color-black, 30%);
    margin-bottom: 1rem;
  }
}

.settings-screen {
  background-color: rgba(73, 73, 73, 0.95);
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .close {
    align-self: flex-end;
    margin-bottom: 1rem;
    //! add hover
    i {
      color: $color-black;
      font-size: 1.5rem;
    }
  }

  button {
    color: white;
    align-self: center;
  }

  form {
    background-color: transparent;
    padding: 0;
    height: 100%;
   

    select {
      padding: 0.2rem 0;
      padding-right: 1.5rem;
      font-size: 0.8rem;
      border: 0;
      color: $color-white;
    }

    .field {
      margin-bottom: 1.5rem;
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 45%;
    }

    .meta {
      display: flex;
      align-items: center;
    }

    label {
      margin: 0;
    }

    i {
      margin-right: 1rem;
      color: $color-black;
    }
  }
}
