.compete {
  max-width: 600px;
  background-color: $content-color;
  margin: 0 auto;
  padding-top: 3rem;

  .item {
    margin-bottom: 2rem;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    i {
      color: darken($header-color, 10%);
      margin-right: 1rem;
    }

    .options {
      padding: 0 1.5rem;
      display: flex;
      @include flex-between;

      .option {
        width: 150px;
        height: 150px;
        border: 1px solid $header-color;
        border-radius: 0.4rem;
        @include flex-center;
        flex-direction: column;
        font-size: 3rem;
        color: $header-color;
        transition: all $transition-duration $transition-timing;
        cursor: pointer;

        .desc {
          font-size: 1rem;
        }

        &:hover {
          color: $color-white;
          border: 1px solid $color-white;
          transform: scale(1.05);
        }

        &.opt1:hover {
          background-color: gold;
        }

        &.opt2:hover {
          background-color: #03398c;
        }

        &.opt3:hover {
          background-color: #170570;
        }

        &.opt4:hover {
          background-color: #7cb9ff;
        }

        &.opt5:hover {
          background-color: #9d6bff;
        }

        &.opt6:hover {
          background-color: #ff5dff;
        }
      }
    }
  }
}