

@media (max-width: 675px) {
  nav {
    // display: flex;
    flex-direction: column;
  
    .menu {
      margin-top: 1rem;
      align-self: center;
    }
  
  }
}

//!screen when the board is not wide enough
@media (max-width: 475px) {
  

}

