// Navbar
.header-wrapper {
  background-color: $header-color;
  padding: 1rem 0;
}

nav {
  //!calculate
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0 3rem;
  @include flex-between;



  .menu {
    padding: 0;
    align-self: flex-end;

    .item {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8rem;
      background-color: $content-color;
      border-radius: 0.2rem;
      color: white;
      padding: 0.2rem 0.5rem;
      transition: background-color $transition-duration $transition-timing;

      &:hover {
        background-color: lighten(#EF9549, 5%);
      }

      &.active {
        // background-color: $link-active-color;
        background-color :#EF9549;
      }
    }
  }
}

.logo {
  display: flex;
  align-content: center;

  .square {
    width: 100px;
    height: 100px;
    font-weight: 700;
    font-size: 2.5rem;
    background-color: #EF9549;
    margin-right: 0.2rem;
  }

  .sq1 {
    background-color: #DC3272;
  }
  .sq2 {
    background-color: #E3394A;
  }
}