// Game info
.toolbar {
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  .row {
    @include flex-between;
    margin-bottom: 0.6rem;
    // border: 1px solid #000;
  }

  //!hover na icone nefunguje
  .settings {
    font-size: 1.8rem;
    color: white;

    transition: color $transition-duration $transition-timing, transform $transition-duration $transition-timing;

    &:hover {
      color: $header-color;
      transform: rotateZ(-10deg);
    }
  }

  .timer {
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .scores {
    display: flex;
  }

  .history {
    align-self: flex-end;

    i {
      font-size: 0.7rem;
      color: white;
    }

    button {
      padding: 0.5rem 0.6rem;
      margin-left: .1rem;
    }

    .inactive {
      opacity: .5;
      cursor: default;

      i {
        cursor: default;
      }

      &:hover {
        background-color: $button-default;
      }

    }

  }
}

// Score
.score {
  @include flex-center;
  flex-direction: column;
  background-color: $background-color;
  color: $color-white;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  margin-right: 0.2rem;

  &:last-child {
    padding: 0.2rem 1.25rem;
  }

  .title {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: lighten($color-black, 50%);
  }

  .points {
    // margin-top: -0.4rem;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;

    .points-round {
      position: absolute;
      left: 0%;
      font-size: 1.1rem;
      color: $color-white;
      animation: score-update 0.6s ease-in;
    }
  }
}